<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="generator" content="Pelican" />
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    {% endblock head %}
</head>

<body id="index" class="home">
    {% block header %}
    <img width="77" height="48" src="{{ SITEURL }}/theme/images/main_lab_logo.jpg" class="custom-logo" alt="{{ SITENAME }}">
    <header id="banner" class="body">
            <h1><a href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
    </header><!-- /#banner -->
    <nav id="menu"><ul>
    {% for menuitems_lang, menuitems in MENUITEMS_LANG %}
        {% if lang == menuitems_lang %}
            {% for title, link in menuitems %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </ul></nav><!-- /#menu -->
    {% endblock %}
    
    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer id="contentinfo" class="body">
            <address id="about" class="vcard body">
            Proudly powered by <a href="https://getpelican.com/">Pelican</a>,
            which takes great advantage of <a href="https://www.python.org/">Python</a>.
            </address><!-- /#about -->
    </footer><!-- /#contentinfo -->
    {% endblock %}
</body>
</html>
