{% extends "index.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
  {% import 'translations.html' as translations_funcs with context %}
  {{ translations_funcs.translations_header(translations) }}
  {{ super() }}
{% endblock %}


{% block content %}
<section id="content">

{% for page in pages | selectattr('category', '==', 'home') | selectattr('lang', '==', lang) %}
    <div class="home-content">{{ page.content }}</div>
{% endfor %}
{% block content_title %}
<h2>News</h2>
{% endblock %}
<ol id="post-list">
{% for article in articles | selectattr('category', 'equalto', 'news') | batch(3) | first %}
    <li>
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <div class="post-info">
            <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
            
            <div class="vcard author">By
            {% for person in article.people_names %}
                {% if person['person_url'] == 'None' %}
                    {{ person['id'] }}
                {% else %}
                    <a class="url fn" href="{{ SITEURL }}/{{ person['person_url'] }}">{{ person['name'] }}</a>
                {% endif %}
            {% endfor %}
            </div>
        
        </div>
        <div class="entry-content">
            {% if article.summaryimage %}<img src="{{ article.summaryimage }}" alt="">{% endif %}
            {{ article.summary }}
            <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
        </div>
    </li>
{% endfor %}
</ol>
<!--
{% if articles | selectattr('category', 'equalto', 'news') | list() | length() > 3 %}
<a href="{{ SITEURL }}/news.html">Все новости&raquo;</a>
{% endif %}
</section>
-->
<a href="{{ SITEURL }}/{{ all_news_link }}">Все новости&raquo;</a>
{% endblock content %}
