{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
  {% import 'translations.html' as translations_funcs with context %}
  {{ translations_funcs.translations_header(translations) }}
  {{ super() }}
{% endblock %}

{% block content %}

<ol id="post-list">
{% for article in articles_page.object_list %}
    <li>
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <div class="post-info">
            <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
            <div class="vcard author">By
            {% for person in article.people_names %}
                {% if person['person_url'] == 'None' %}
                    {{ person['id'] }}
                {% else %}
                    <a class="url fn" href="{{ SITEURL }}/{{ person['person_url'] }}">{{ person['name'] }}</a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="entry-content">
            {% if article.summaryimage %}<img src="{{ article.summaryimage }}" alt="">{% endif %}
            {{ article.summary }}
            <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
        </div>
    </li>
    {% if loop.last and (articles_page.has_previous() 
        or not articles_page.has_previous() and loop.length > 1) %}
         {% include 'pagination.html' %}
     {% endif %}
{% endfor %}
</ol>
{% endblock content %}
