{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
  {% import 'translations.html' as translations_funcs with context %}
  {{ translations_funcs.translations_header(translations) }}
  {{ super() }}
{% endblock %}


{% block content %}
<ol id="post-list">
{% for person in people %}
    <li>
        <div class="entry-content">
            <img src="{{ person.photo }}" alt="">
            <h2 class="entry-title"><a href="{{ SITEURL }}/{{ person.person_url }}">{{ person.name }}</a></h2>
            {{ person.position }}
        </div>
    </li>
{% endfor %}
</ol>
{% endblock content %}
