{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
  {% import 'translations.html' as translations_funcs with context %}
  {{ translations_funcs.translations_header(translations) }}
  {{ super() }}
{% endblock %}


{% block content %}
<section id="content">

<h2>{{ person_info.name }}</h2>
<h3>{{ person_info.position }}</h3>
<img src="{{ SITEURL }}/{{ person_info.photo }}" alt="">
E-mail: <a href="mailto:{{ person_info.email }}">{{ person_info.email }}</a>
<h3>Research Interests</h3>
<ol>
    {% for research_interest in person_info.researchinterests %}
        <li> {{ research_interest }}</li>
    {% endfor %}
</ol>
<h3>About</h3>
{{ person_info.about }}

<h3>Projects</h3>
<ol>
    {% for project in person_info.projects %}
        <li>
        {% if project['project_url'] == 'None' %}
            {{ project['id'] }}
        {% else %}
            <img src="{{ SITEURL }}/{{ project['smallphoto'] }}" alt="">
            <a href="{{ SITEURL }}/{{ project['project_url'] }}">{{ project['title'] }}</a>
        {% endif %}
        </li>
    {% endfor %}
</ol>

<h3>Selected Publications</h3>
{% with publications_list = person_info.selectedpublications %}
    {% include "publication_template.html" %}
{% endwith %}

</section>
{% endblock content %}
