{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
  {% import 'translations.html' as translations_funcs with context %}
  {{ translations_funcs.translations_header(translations) }}
  {{ super() }}
{% endblock %}

{% block content %}
<section id="content">

<img src="{{ SITEURL }}/{{ project_info.photo }}" alt="">
<h2>{{ project_info.title }}</h2>
Contact person: <a href="{{ SITEURL }}/{{ project_info.contactperson[2] }}">{{ project_info.contactperson[1] }}</a>
<h2>Overview</h2>
{{ project_info.content }}
<h3>Team</h3>
<ol>
    <li>
    {% for person in project_info.team %}
        {% if person['person_url'] == 'None' %}
            {{ person['id'] }}
        {% else %}
            <a class="url fn" href="{{ SITEURL }}/{{ person['person_url'] }}">{{ person['name'] }}</a>
        {% endif %}
    {% endfor %}
    </li>
</ol>

<h3>Selected Publications</h3>
{% with publications_list = project_info.selectedpublications %}
    {% include "publication_template.html" %}
{% endwith %}

</section>
{% endblock content %}
