<ol>
    {% for publication_id, publication in publications_list %}
        {% if publication == 'None' %}
            <li>{{ publication_id }}</li>
        {% else %}
            <li>
                <a href="{{ publication.downloadlink }}">{{ publication.title }}</a>
                <div>
                    {% for person in publication.paperauthors %}
                        {% if person['person_url'] == 'None' %}
                            {{ person['id'] }}
                        {% else %}
                            <a href="{{ SITEURL }}/{{ person['person_url'] }}">{{ person['name'] }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>{{ publication.journal }}</div>
                {% if full_publications and (full_publications == 'true') %}
                    Bibtex: <div>{{ publication.bibtex }}</div>
                    Abstract: <div>{{ publication.content }}</div>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ol>
