{% macro translations_header(translations) %}
  {% if lang %}
    Lang: {{ lang }}
  {% endif %}

  {% if translations %}
    Translations:
    {% for translation in translations %}
      {% if translation is mapping %}
        <a href="{{ SITEURL }}/{{ translation['url'] }}" hreflang="{{ translation['lang'] }}">{{ translation['lang'] }}</a>
      {% else %}
        <a href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}">{{ translation.lang }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro entry_hreflang(entry) %}
{% if entry.translations %}
  {% for translation in entry.translations %}
    <link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}">
  {% endfor %}
{% endif %}
{% endmacro %}
